.header-link{
    text-decoration: none;
    color: #a3a3a3;
}

.header-link:hover {
    color: #f3f3f3;
    text-decoration: underline;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
