.header-link{
    text-decoration: none;
    color: #6d6d6d;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}

.header-link:hover {
    color: #383838;
    text-decoration: underline;
    transition: 0.3s all ease-in-out;
}

.header-links{
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
